body {
  width: 100%;
  background-color: #F0F0F0;
  font-family: 'Poppins', sans-serif;
}
.main {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
  }
  .image {
    flex: 1;
    max-width: 40%;
  }
  .image img {
    max-width: 100%;
    height: auto;
    display: block;
  }
  .text {
    margin-right: 20%;
    margin-bottom: 15%;
    flex: 2;
    max-width: 55%;
    color: #ff523b;
  }
  p {
    margin: 0;
    font-size: 1rem;
    line-height: 1.6;
  }
  .rating {
    text-align: center;
    padding: 10px 0;
  }